body{
    width: 100%;
    /* background-color: #dfe2e2; */
    
}
.container-1{
    box-shadow: 1px 5px 15px -5px black;
}
.navbar{
    height: 45px;
}
.head{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-around;
}
.hand-left{
    width: 50%;
}
.hand-right{
    width: 50%;
   
}
.hand-left h1{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hand-left p{
    margin-left: 95px;
    margin-top: -230px;
}
.hand-left .btn{
    width: 130px;
    border-radius: 50px;
    font-size: 15px;
    margin-left: 100px;
    margin-top: 10px;
}
.hand-right img{
    width: 100%;
    height: 400px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-4 .box-slide{
    width: 1100px;
    
}
form > img{
    width: 30px;
    margin-left: 420px;
    margin-top: -60px;
}
.collapse>ul{
    margin: auto;
}
.collapse>ul>li{
    margin-left: 100px;
}

:hover >a{
    border-bottom: 1px solid;
}
/* input{
    border-left: none;
    border-right: none;
    border-top: none;
    outline: none;
} */
.container-2{
    width: 45%;
}
.box-shose{
    width: 100%;
    margin-left: 20px;
    box-shadow: -8px 5px 15px -5px rgb(20, 20, 20);
    border-radius: 20px;
}
h1{
    font-size: 35px;
    margin-left: 10px;
}
p{
    margin-left: 20px;
    font-size: 15px;
    color: rgb(128, 127, 125);
}
.img img{
    margin-left: -11px;
    width: 240px;
    border-radius: 20px;
}
.container-3 .row{
    width: 100%;
    display: flex;
    justify-content: space-between;

}
.container-3{
    width: 100%;
    
}
.box-shose-1{
    width: 45%;
    border-radius: 20px;
    /* background-color: #dfe2e2; */
}
.box-shose-2{
    width: 45%;
    box-shadow: 10px 7px 20px -5px rgb(20, 20, 20);
    border-radius: 20px;
}
.t-shirt{
    width: 100%;
    margin-left: 20px;
    box-shadow: -8px 5px 15px -5px rgb(20, 20, 20);
    border-radius: 20px;
    float: right;
}
.box-shorts{
    width: 45%;
    border-radius: 20px;
    box-shadow: 10px 5px 20px -5px rgb(20, 20, 20);
    margin-bottom: 20px;
}
h1{
    margin-left: 10px;
}
p{
    margin-left: 20px;
    font-size: 15px;
    color: rgb(128, 127, 125);
}
.img img{
    margin-left: -11px;
    width: 240px;
    border-radius: 20px;
}
/* fulter */
.main-box{
    width: 100% ;
    height: 380px;
    background-color: black;
    display: flex;
    justify-content: space-between;
}
.box{
    width: 33%;
    color: rgb(131, 117, 117);
    text-align: center;
    
}
.box img{
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 15px ;
}
.box p{
    margin-top: 20px;
    font-size: 20px;
}
.box .img-QR{
    width: 200px;
    height: 200px;
    border-radius: 15px;
    margin-top: 15px;
}
.box-1{
    width: 33%;
    color: rgb(131, 117, 117);
}
.box-1 h1{
    font-size: 35px;
    padding:20px 0px 0px 30px ;
}
.box-1 p{
    font-size: 15px;
    padding:20px 0px 0px 30px ;
}

.box-2{
    width: 33%;
    font-size: 20px;
    color: rgb(131, 117, 117);
}
.box-2 h1{
    font-size: 35px;
    padding:20px 0px 0px 30px ;
}
.box-2 i{
    margin: 10px;
    margin-left: 20px;
    margin-top: 30px;
    font-size: 40px;
    color: white;
    cursor: pointer;
}
.box-2 i:hover{
    color: rgb(93, 89, 89);
}
.box-2 h2{
    color: white;
    margin-top: 50px;
    font-size: 25px;
    padding:20px 0px 0px 30px ;
}
.box-2 p{
    padding:0px 0px 0px 30px ;
}